@import url('https://fonts.googleapis.com/css2?family=Switzer:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: 'Switzer', sans-serif;
  color-scheme: light dark;
}

body {
  font-family: var(--font-body);
  /* background-color: #f9fafb;
  color: #111827; */
  margin: 0;
}

@keyframes zoomSlow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.animate-zoom-slow {
  animation: zoomSlow 20s ease-in-out infinite alternate;
}
