/* @import url('https://fonts.googleapis.com/css2?family=Switzer:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-body: "Inter", sans-serif;
  color-scheme: light dark;
}

/* @font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Regular.woff2') format('woff2'),
       url('/fonts/Switzer-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Extrabold.ttf') format('woff2'),
       url('/fonts/Switzer-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */




body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
;
  font-style: normal;
  /* background-color: #f9fafb;
  color: #111827; */
  margin: 0;
}



@keyframes zoomSlow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.animate-zoom-slow {
  animation: zoomSlow 20s ease-in-out infinite alternate;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes float {

  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-20px) rotate(180deg);
  }
}

@keyframes float-slow {

  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-10px) rotate(90deg);
  }
}

@keyframes float-delayed {

  0%,
  100% {
    transform: translateY(0px) scale(1);
  }

  50% {
    transform: translateY(-15px) scale(1.1);
  }
}

/* .swiper-pagination-bullet-active{
 
    background: black !important;
 
}
.swiper-pagination-bullet{
  width: 8px !important;
  height: 8px !important;
  margin-right: 10px;
} */

/* Custom pagination dots */
.swiper-pagination-bullet {
  background: white !important;
  /* opacity: 0.5; */
  width: 10px;
  height: 10px;
 
}

.swiper-pagination-bullet-active {
  background: black !important;
  opacity: 1;
  width: 12px;
  height: 12px;
}

/* Position the pagination */
.swiper-pagination {
  bottom: 30px !important;
}

:is(.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets) .swiper-pagination-bullet{
  margin: 6px !important;
}
/* Custom styles for better form appearance */
select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}

select:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23fbbf24' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3e%3c/svg%3e");
}

/* Remove default number input arrows */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}