@import url('https://fonts.googleapis.com/css2?family=Switzer:wght@400;500;600;700&display=swap');

@import "tailwindcss";

:root {
  --font-body: 'Switzer', sans-serif;
  color-scheme: light dark;
}
@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Regular.woff2') format('woff2'),
       url('/fonts/Switzer-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Extrabold.ttf') format('woff2'),
       url('/fonts/Switzer-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
font-family: 'Switzer', 'Helvetica Neue', Arial, sans-serif;
  /* background-color: #f9fafb;
  color: #111827; */
  margin: 0;
}

@keyframes zoomSlow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.animate-zoom-slow {
  animation: zoomSlow 20s ease-in-out infinite alternate;
}
