/* @import url('https://fonts.googleapis.com/css2?family=Switzer:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-body: "Inter", sans-serif;
  color-scheme: light dark;
}

/* @font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Regular.woff2') format('woff2'),
       url('/fonts/Switzer-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Extrabold.ttf') format('woff2'),
       url('/fonts/Switzer-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */




body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* background-color: #f9fafb;
  color: #111827; */
  margin: 0;
}



@keyframes zoomSlow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.animate-zoom-slow {
  animation: zoomSlow 20s ease-in-out infinite alternate;
}

.slick-prev:before,
.slick-next:before {
  opacity: .75;
  color: #251f77;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: slick;
  font-size: 30px;
  line-height: 1;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-20px) rotate(180deg);
  }
}

@keyframes float-slow {

  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-10px) rotate(90deg);
  }
}

@keyframes float-delayed {

  0%,
  100% {
    transform: translateY(0px) scale(1);
  }

  50% {
    transform: translateY(-15px) scale(1.1);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-slow {
  animation: float-slow 8s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float-delayed 7s ease-in-out infinite 1s;
}

.bg-grid-white {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}